%ul.doc-list
  - if documents.present?
    - documents.each do |document|
      %li
        #{link_to document.title, document, target: '_blank'}
        %span.publish
          [#{link_to 'original', document.link, target: '_blank'}]
        .publish
          publish as &nbsp;&nbsp; [#{link_to 'Facebook Instant Article'} &nbsp;|&nbsp; #{link_to 'Google AMP'}]
  - else
    %li
      %i
        None available.
