:css
  h1 { margin-bottom: 40px; }
  h2 { margin-top: 40px; }
  small { font-size: 15px; font-weight: bold; margin-left: 10px;}
  small a { color: #aaa; }
  .publish { color: #ccc; font-size: 13px; margin-bottom: 15px; }
  .publish a { color: #777; }

%h1
  .float-xs-right{ style: 'width: 400px; margin-top: 5px;'}
    .input-group
      %input.form-control{"aria-describedby": "basic-addon1", placeholder: "Search all documents", type: "text"}
      %span.input-group-btn
        %button.btn.btn-secondary{type: "button", onclick: "alert('Psych!');"} Go
  Documents

%h2
  Quip
  %small
    = link_to 'Update', retrieve_documents_path(:quip)
= render partial: 'documents', locals: {documents: @quip_docs}


%h2
  Google Docs
  - if current_user.google_authed?
    %small
      = link_to 'Update', retrieve_documents_path(:google)

- if current_user.google_authed?
  = render partial: 'documents', locals: {documents: @google_docs}
- else
  %p
    %i
      Connect your Google account to import from Google Drive.