body {
  padding-top: 75px;
}

.doc-list {
  margin-top: 20px;
}

.actions {
  margin-top: 20px;
}

.devise-links {
  margin-top: 20px;
}

.field {
  margin-top: 20px;
}

//.navbar-fixed-top {
//  background-color: #e3f2fd;
//}